.texto-produtos{
    margin: 20px;
}
.tabela{
    margin: 20px;
}
.moda-cabecalho{
    background-color: #BB86FC;
}
.produtos{
    background-color: #424250;
}
.casa-cabecalho{
    background-color: #00C4B4;
}
.texto-padrao{
    color: #ffffff;
    padding: 5px;
}